nav {
  background-color: black;
  overflow: hidden;
  //width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    color: bisque;
    flex: 0;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.nav-link {
  color: antiquewhite;
}

.dropdown-list {
  margin-top: 6px;
  margin-left: 8px;
}

.dropdown-content {
  display: none;
  //margin-left: -5px;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.drop-link {
  color: antiquewhite;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.nav-link:hover {
  background-color: red;
}

.dropdown-list:hover .dropdown-content {
  display: block;
}

.drop-link:hover {
  background-color: darkgray;
}